@import './settings.scss';

body {
    background-color: #F2F2F2;
}

.section-title {
    font-size: 30px;
    font-family: $font-section-title;
}

.article-title {
    font-family: $font-article-title;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}